

h1{
    color: maroon;
    text-align: center;
}
h2{
    color: maroon;
}
h3{
    text-decoration: underline;
    text-align:left;
    margin-left: 10px;
}
h4{
    margin-left: 10px;
    font-style: normal;
    font-size: medium;
}
a{
    margin-left: 10px;
}
button{
    margin-left: 10px;

}

.post{
    background-color: burlywood;
    border-radius: 10px;
}
.user{
    font-style: italic;
}